@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Assistant&family=Martel+Sans&family=Poppins&family=Space+Grotesk&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Assistant', 'Poppins', Arial, Helvetica, sans-serif;
    background-color: #f0f2f5;
}
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem;
}
.main-container img{
    height: 5rem;
    width: auto;
    cursor: pointer;
}
.login-form{
    width: 396px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.login-form p{
    font-size: 18px;
}
a{
    text-decoration: none;
}
.login-form input{
    height: 51px;
    width: 360px;
    margin: 0 16px;
    padding: 14px 16px;
    border-radius: 8px;
    border: 0.1px solid grey;
}
.login-form button {
    height: 48px;
    width: 360px;
    border-radius: 7px;
    background-color: #1877F2;
    border: 1px #1877F2;
    color: white;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}
.forgot{
    display: flex;
    width: 360px;
    justify-content: space-evenly;
    margin: 3px;
    padding: 0 24px;
}

/* forgot account page */
nav{
    height: 56px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
}
.logo{
    width: 614px;
}
.logo img{
    height: 50px;
    width: auto;
}
.input-container{
    width: 642px;
    display: flex;
    justify-content: space-evenly;
    padding: 8px 0;
}
.input-container input {
    height: 36px;
    width: 188px;
    padding: 8px 12px 10px 0;
    border-radius: 7px;
    border: 0.1px solid grey;
}
.input-container button{
    height: 36px;
    width: 69px;
    border-radius: 7px;
    border: #1877F2;
    background-color: #1877F2;
    color: white;
    font-weight: bold;
}
.input-container a{
    margin: 0 0 2px 4px;
    padding: 6px 4px;
}
section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 80px 80px;
}
.forgot-form{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 500px;
    height: 276px;
}
.forgot-form p{

}